<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.takeaway_bh">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TakeAway_BH">
        <activity
            android:name=".Customer.StoreIndex"
            android:exported="true" />
        <activity
            android:name=".Manage.AddGood"
            android:exported="true"
            android:label="增加菜品" />
        <activity
            android:name=".Customer.CustomerIndex"
            android:exported="true"
            android:label="用户主界面" />
        <activity
            android:name=".Rider.RiderIndex"
            android:exported="true"
            android:label="骑手主界面" />
        <activity
            android:name=".Manage.ManageIndex"
            android:exported="true"
            android:label="管理员主界面" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="注册页面"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="登录页面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>